<!DOCTYPE html>
<html lang='en'>
<head>
<%= partial 'layouts/_head'.to_sym %>
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.4/styles/tomorrow.min.css'>
<script src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.4/highlight.min.js'></script>
</head>
<body>
<div id='wrapper'>

  <%= partial 'layouts/_header'.to_sym %>

  <div class='main'>
    <div id='content'>
      <div class='container'>

        <%= partial 'layouts/_flash'.to_sym %>

        <div class='col-sm-2 left-nav'>
          <h1>Documentation</h1>
          <ul>
            <li>
            <i class='fa fa-cloud'></i>
            API V1
            <ul>
              <li><a href='/docs/api/v1/authentication'>Authentication</a></li>
              <li><a href='/docs/api/v1/snapshots'>Snapshots</a></li>
              <li><a href='/docs/api/v1/vendors'>Vendors</a></li>
              <li><a href='/docs/api/v1/users'>Users</a></li>
            </ul>
            </li>
          </ul>
          <ul>
            <li>
            <i class='fa fa-cog'></i>
            evercam.js
            <ul>
              <li>coming soon&hellip;</li>
            </ul>
            </li>
          </ul>
          <ul>
            <li>
            <i class='fa fa-cog'></i>
            evercam.rb
            <ul>
              <li>coming soon&hellip;</li>
            </ul>
            </li>
          </ul>
          <ul>
            <li>
            <i class='fa fa-link'></i>
            Connect
            <ul>
              <li>coming soon&hellip;</li>
          </ul>
        </div>

        <div class='col-sm-10'>
          <%= yield %>
        </div>

      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $('pre code').each(function(i, e) {
        hljs.highlightBlock(e);
      });
    });
  </script>

  <%= partial 'layouts/_footer'.to_sym %>

</div>
</body>
</html>

