<h3 class="ec">
  <%= @req.client.name %> has requested access to the following:
</h3>
<ol>
  <li>
  <% @req.missing.each do |s| %>
    <% if s.generic? %>
      Permission to <strong><%= s.right %> all <%= s.group %></strong>
    <% else %>
      Permission to <strong><%= s.right %> <%= s.resource.name %></strong>
    <% end %>
  <% end %>
  </li>
</ol>
<br />
<div>
  <form method='POST'>
    <button type='submit' name='action' value='approve' class='btn btn-success'>
      Approve
    </button>
    <button type='submit' name='action' value='decline' class='btn btn-danger'>
      Decline
    </button>
  </form>
</div>

