<h3 class="ec">
  <%= @req.client.name %> has requested access to the following:
</h3>
<ol>
  <li>
  <% @req.missing.each do |s| %>
    Permission to <strong><%= s.right %> <%= s.resource.name %></strong>
  <% end %>
  </li>
</ol>
<br />
<div>
  <form method='POST'>
    <input type="hidden" name="redirect_uri" value="<%= @redirect_uri %>"></input>
    <input type="hidden" name="client_id" value="<%= @client_id %>"></input>
    <input type="hidden" name="scope" value="<%= @scope %>"></input>
    <button type='submit' name='action' value='approve' class='btn btn-success'>
      Approve
    </button>
    <button type='submit' name='action' value='decline' class='btn btn-danger'>
      Decline
    </button>
  </form>
</div>

