<div class="addCamera">
  
  <div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    
  <!-- Button trigger modal -->
  <div class="row">
    <div class="col-xs-2 col-xs-offset-7">
      <div class="addButton">
        <a class="btn btn-primary btn-md" href="/users/<%= @user.username -%>/profile">Profile</a>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="addButton">
        <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">Add Camera</button>
      </div>
    </div>
  </div>

  <% @cameras.each  do |c| -%>
  <div class="border-1"></div>

  <div class="streamList"><div class="streamContainer">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <img class="img-loader" src="/img/ajax-loader.gif" >
          <a href="<%= c.url -%>"><img class="preview" evercam="<%= c.exid -%>" src="" width="265px" height="175px"></a>
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="right_container">
            <div>
              <h4><a href="<%= c.url -%>"><%= c.exid -%></a> <i exid="<%= c.exid -%>" class="fa fa-1x fa-times-circle-o icon-align-center delete-camera"></i></h4>
              <small class="text-muted"><%= c.name -%></small>
              <div class="positionTest">
                <% if c.is_online == true %>
                  <p class="online"><i class="fa fa-1x fa-plus-circle icon-align-center"></i>Online</p>
                <% elsif c.is_online == false %>
                  <p class="offline"><i class="fa fa-1x fa-minus-circle icon-align-center"></i>Offline</p>
                <% else %>
                  <p class="unknown"><i class="fa fa-1x fa-adjust icon-align-center"></i>Unknown</p>
                <% end %>
              </div>
            </div>
            <div class="camAddress hidden">
              <p><i class="fa fa-1x fa-map-marker icon-align-center blue"></i>Garden of Remembrance, Parnell Square, Dublin 1.</p>
            </div>
            <div class="url">
              <% c.endpoints.each do |e| -%>
              <p>
                <% if e.public? %>
                External URL:
                <% else %>
                Internal URL:
                <% end %>
                <%= e.to_s -%>
              </p>
              <% end %>
            </div>
            <h5>Owned by:</h5>
            <p class="userInfo"><%= c.owner.fullname -%></p>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <% end -%>

  <div class="border-1"></div>
        
  <br/><br/><!-- Temp Line Breaks -->

    <!-- Add Camera Form -->
    <%= partial 'users/cameras/camera_modal'.to_sym %>
</div>
</div>
</div>

<% content_for :scripts do %>
<script>
  $(function() {
    $('#addCameraForm').on('submit', function(e) {
      e.preventDefault();
      $('#cameraErrors').hide();
      var data = {
        id: $('#cameraId').val(),
        name: $('#cameraName').val(),
        is_public: $('#isPublic').is(':checked'),
        model:  $('#cameraModel' +$('#cameraVendor').val()).val(),
        vendor:  $('#cameraVendor').val(),
        endpoints: [ $('#scheme').val() + $('#cameraURL').val() ]
      };
      var username = $('#username').val(),
          timezone = $('#timezone :selected').text(),
          password = $('#password').val(),
          snapshot = $('#snapshotPath').val();
      if (username && password) {
        data.auth = {
          basic: {
            username: username,
            password: password
          }
        }
      }
      if (snapshot) {
        data.snapshots = {
          jpg: snapshot
        }
      }

      // TODO - Dirty hack, fix if we won't move to rails
      if (timezone.indexOf('(UTC)') !== -1) {
        data.timezone = 'Etc/GMT0';
      } else if (timezone.indexOf('(UTC') !== -1) {
        data.timezone = 'Etc/GMT' + timezone.substr(4,1) + parseInt(timezone.substr(5,2));
      }
      Evercam.Camera.create(data)
      .done(function() {
        console.log( "success" );
        $('#myModal').modal('hide');
        location.reload();
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        console.log( errorThrown + ' - ' + jqXHR.responseJSON.message);
        $('#cameraErrors .alert-content').text(jqXHR.responseJSON.message);
        $('#cameraErrors').show();
      });
    });

    var previous;
    $('#cameraVendor').one('focus', function() {
      previous = this.value;
    }).on('change', function() {
      $('#cameraModel' + previous).addClass('hidden');
      $('#cameraModel' + this.value).removeClass('hidden');
      previous = this.value;
    });

    $('.preview').on('load', function() {
      $(this).parent().siblings('.img-loader').hide();
    })

    setTimeout(function() {
      $('.img-loader').hide();
    }, 5000);

    function toggleAdv() {
      if ($('.adv').is(':visible')) {
        $('#showAdv').html('Show advanced options <i class="fa fa-caret-square-o-down"></i>');
      } else {
        $('#showAdv').html('Hide advanced options <i class="fa fa-caret-square-o-up"></i>');
      }
      $('.adv').toggle();
    }

    $('#cameraPreview').click(function() {
      if ($('#cameraVendor').val() == -1) {
        $('#previewError .alert-content').text('Please select camera vendor');
        $('#previewError').show();
        return;
      }
      if ($('#cameraURL').val() === '') {
        $('#previewError .alert-content').text('Please fill in camera url');
        $('#previewError').show();
        return;
      }
      var camera = new Evercam.Camera($('#cameraId').val());
      $('#previewError').hide();
      $('.add-preview .img-loader').show();
      camera.data = {endpoints: [$('#scheme').val() + $('#cameraURL').val()]};
      Evercam.Model.by_model($('#cameraVendor').val(), $('#cameraModel' +$('#cameraVendor').val()).val())
      .done(function(model) {
        if ((model.defaults.auth === undefined || model.defaults.snapshots === undefined || model.defaults.snapshots.jpg === undefined) && !$('.adv').is(':visible')) {
          $('#previewError .alert-content').text("Can't connect to camera, please check advanced options.");
          $('#previewError').show();
          toggleAdv();
          $('.add-preview .img-loader').hide();
          return;
        }
        camera.data.snapshots = {jpg: model.defaults.snapshots.jpg};
        var snap = $('#snapshotPath').val();
        if (snap) camera.data.snapshots.jpg = snap;
        camera.data.auth = model.defaults.auth;
        camera.isUp(function() {
          camera.useProxy = true;
          var url = camera.imgUrl();
          if (url) {
            $.get(camera.imgUrl())
            .done(function() {
              $('#cameraPreview').attr('src', camera.imgUrl());
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
              $('#previewError .alert-content').text("Can't connect to camera, please check advanced options.");
              $('#previewError').show();
              if (!$('.adv').is(':visible')) {
                toggleAdv();
              }
            })
            .always(function() {
              $('.add-preview .img-loader').hide();
            });
          } else {
            $('.add-preview .img-loader').hide();
          }
        });
        camera.selectEndpoint();
      });
    });

    $('#showAdv').click(function(e) {
      e.preventDefault();
      toggleAdv();
    });

    $('.delete-camera').click(function(e) {
      e.preventDefault();
      var cam_exid = $(this).attr('exid');
      Evercam.Camera.remove(cam_exid)
      .done(function() {
        location.reload();
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        console.log( errorThrown);
      });
    });

  });
</script>
<% end %>
